@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

li,
.btn {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  margin: 0 10px;
  color: #edf0f1;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  background: #3772f1;
}

.logo {
  font-family: "MonteCarlo", cursive;
  transition: all 0.3s ease 0s;
  font-size: 50px;
  font-weight: 400;
  color: #edf0f1;
  margin: 0 0 0 20px;
}
.logo:hover {
  color: rgba(234, 169, 49, 0.8);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 20px 3%;
  border-bottom: 2px solid gold;
}

.btn {
  margin: 10px;
  /* transition: ease-in 0.1s; */
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  color: black;
  background-color: rgba(234, 169, 49, 0.7);
}

.btn:hover {
  background-color: rgba(234, 169, 49, 0.9);
}

ul li {
  display: inline-block;
}

ul li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: inherit;
}

ul li a:hover {
  color: rgb(234, 169, 49);
}

img {
  position: absolute;
  left: 450px;
  top: 170px;
  background: transparent;
}

.home-word {
  position: relative;
  max-width: 500px;
  top: 15vh;
  left: 100px;
  color: rgb(42, 221, 209);
  z-index: 5;
  background: transparent;
  font-family: "Andada Pro", serif;
  font-size: 70px;
}

.menu {
  align-items: center;
}

.menu-item {
  margin: 2% 15%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 3rem 3rem;
}

/** Menu with all the food */
.menu-item-item {
  display: grid;
  justify-content: stretch;
  /* align-content: center; */
  align-items: center;
  grid-template-columns: max-content 1fr max-content;
  /* grid-template-columns: 1fr 1fr; */
}

/** Adds underline between food and price */
.menu-item-item span:nth-child(2) {
  border-bottom: 2px white solid;
  margin: 0px 5px;
}

/** Menu h3 only */
.menu h2 {
  display: flex;
  text-decoration: underline dotted;
  text-decoration-color: gold;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  /* margin: 0 10px; */
  color: #edf0f1;
}

/** Menu Item parent only */
.menu-item div h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  /* margin: 0 10px; */
  color: #edf0f1;
}

/** Tabs the food item */
.menu-item-item span:nth-child(1) {
  margin-left: 4ch;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  /* color: rgb(21, 193, 219); */
}
